<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mt3customer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/55064b06-ef88-4ba8-b863-bcd3785f3392/resourceGroups/Karime-Test/providers/Microsoft.Web/sites/mt3customer</ResourceId>
    <UserName>$mt3customer</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://mt3customer.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>